root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Indentation for C++, Kotlin, CMake
[*.{hpp,cpp,cmake,kt},CMakeLists.txt]
indent_style = space
indent_size = 4

# Indentation for YAML
[*.yaml,.clang-*]
indent_style = space
indent_size = 2
