# Binary files
.o
.out
.obj
.exe

# Build directories
/[Bb]uild*/

# Visual Studio [Code] files
.vs*/
/out/
*.sln
*.vcxproj*

# CLion directories
.idea/
cmake-build-*/

# Code::Blocks files
*.layout
*.depend
/bin/
/obj/
